:root {
  --primary-background-color: #212121;
  --secondary-background-color: #0e0e0e;

  --open-modal-background-color: rgba(32, 13, 26, 0.6);
  --modal-background-color: #fff2fd;

  --primary-text-color: #ffffff;
  --secondary-text-color: #0e0e0e;
  --third-text-color: #939393;
  --title-text-color: #dc56c5;

  --primary-accent-color: #4c00fe;
  --secondary-accent-color: #dc56c5;
}
