<div data-modal-team class="modal-backdrop-team is-hidden" id="modal-backdrop-team">
  <div class="modal-form-team">
    <button data-close-modal-team class="modal-close-btn-team">
      <span
        ><svg class="modal-close-btn-icon">
          <use href="./images/sprite.svg#icon-close2"></use></svg></span>
    </button>
    <p class="modal-tittle-team">Our team</p>
    <ul class="team-member-list">
      <li class="team-member-item team-lead">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/nastia_150px.jpg" alt="" />
          </div>
          <p class="member-name"><b>Настя Иванова</b></p>
          <p class="member-status">Тим-лид</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/olia_150px.jpg" alt="" />
          </div>

          <p class="member-name"><b>Оля Иванченко</b></p>
          <p class="member-status">Скрам-мастерица</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/sasha_y_150px.jpg" alt="" />
          </div>
          <p class="member-name"><b>Саша Якоб</b></p>
          <p class="member-status">Разработчик</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/vlad_150px.jpg" alt="" />
          </div>
          <p class="member-name"><b>Влад Василевский</b></p>
          <p class="member-status">Разработчик</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/konst_150px.png" alt="" />
          </div>
          <p class="member-name"><b>Костя Смилык</b></p>
          <p class="member-status">Разработчик</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/sasha_k_150px.jpg" alt="" />
          </div>
          <p class="member-name"><b>Саша Кирсенко</b></p>
          <p class="member-status">Разработчик</p>
        </div>
      </li>
      <li class="team-member-item">
        <div class="team-member-card">
          <div class="member-photo">
            <img class="team-img" src="./images/members/roma_150px.jpg" alt="" />
          </div>
          <p class="member-name"><b>Рома Гаврилюк</b></p>
          <p class="member-status">Разработчик</p>
        </div>
      </li>
    </ul>
  </div>
</div>
