<div data-modal-team class="modal-backdrop-team is-hidden" id="modal-backdrop-team">
    <div class="modal-form-team">
        <button data-close-modal-team class="modal-close-btn-team">X</button>
        <p class="modal-tittle-team">Our team</p>
        <ul class="team-member-list ">
                <li class="team-member-item team-lead">
                <div class="team-member-card">
                <div class="member-photo"></div>
                <p class="member-name">Анастасия</p>
                <p class="member-status">Тим-лид</p>
                </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Оля</p>
                        <p class="member-status">Скрам-мастер</p>
                    </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Саша</p>
                        <p class="member-status">Разработчик</p>
                    </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Влад</p>
                        <p class="member-status">Разработчик</p>
                    </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Костя</p>
                        <p class="member-status">Разработчик</p>
                    </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Саша</p>
                        <p class="member-status">Разработчик</p>
                    </div>
                </li>
                <li class="team-member-item">
                    <div class="team-member-card">
                        <div class="member-photo"></div>
                        <p class="member-name">Рома</p>
                        <p class="member-status">Разработчик</p>
                    </div>
                </li>
                
        </ul>
    </div>
</div>