.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 290px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}
