.modal-form {
  top: 150px;
  position: relative;
  width: 272px;
  height: 915px;
  margin: 0 auto;

  border-radius: 150px 0px;

  background-color: var(--modal-background-color);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 595px;
    border-radius: 300px 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 930px;
    height: 1023px;

    border-radius: 300px 0px;
  }
}
.modal-close-btn {
  position: absolute;
  right: 25px;
  top: 25px;

  // border-radius: 50%;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    right: 30px;
    top: 30px;
  }
}
.madal-close-icon {
  color: black;
}
.img-wrapper {
  display: inline-block;
  width: 102px;
  height: 102px;

  position: absolute;
  top: 75px;
  left: 86px;

  border-radius: 50%;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 70px;
    height: 70px;

    left: 231px;
    top: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;

    left: 400px;
    top: 62px;
  }
}
.main-img-wrapper {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: inline-block;
    position: absolute;
    top: 153px;
    left: 18px;

    width: 233px;
    height: 416px;
    border: 1px solid;
  }
  @media screen and (min-width: 1280px) {
    display: inline-block;
    position: absolute;
    top: 235px;
    left: 30px;

    width: 360px;
    height: 641px;
    border: 1px solid;
  }
}
.card-discription {
  text-align: center;
  position: absolute;
  top: 195px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    text-align: start;

    top: 153px;
    left: 281px;
  }
  @media screen and (min-width: 1280px) {
    text-align: start;
    top: 235px;
    left: 450px;
  }
}
.modal__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title-text-color);

  margin-bottom: 5px;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 7px;
  }
}
.modal__description {
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-text-color);

  margin-bottom: 3px;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
}
.modal__item {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.prices-list {
  margin-bottom: 25px;
  li {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    li {
      margin-bottom: 30px;
    }
  }
}
.price {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;

  margin-bottom: 10px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 10px;
  }
}
.btn-position {
  position: absolute;
  top: 771px;
  left: 20px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 747px;
    left: 138px;
  }

  @media screen and (min-width: 1280px) {
    top: 921px;
    left: 337px;
  }
}
