.modal-backdrop-team {
  padding: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: var(--open-modal-background-color);
  backdrop-filter: blur(3px);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  &.is-hidden {
    .location-modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
.modal-form-team {
  padding: 20px 40px 40px 30px;
  max-width: 280px;

  position: relative;
  top: 10%;
  // left: 50px;
  margin: 0 auto;
  // transform: translate(-50%, -50%);
  // background-color: rgb(190, 183, 184);
  background-color: var(--modal-background-color);

  border-radius: 75px 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    border-radius: 150px 0px;
    min-width: 500px;
    // height: 75vh;
    // .modal-form-team {
    //   top: 15%;
    // }
  }
  @media screen and (min-width: 1280px) {
    border-radius: 150px 0px;
    min-width: 600px;
    // height: 75vh;
    // .modal-form-team {
    //   top: 20%;
    // }
  }
}
.modal-tittle-team {
  font-family: Montserrat;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-member-list {
  text-align: center;
  display: grid;

  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  //   margin-bottom: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  .team-lead {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  @media screen and (min-width: 768px) {
    display: grid;

    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    .team-lead {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
.team-member-item {
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }
}
.member-photo {
  width: 100px;
  border-radius: 5px;
  min-height: 80px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 125px;

    min-height: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 150px;

    min-height: 125px;
  }
}
.team-img {
  border-radius: 5px;
  width: 100px;

  height: 80px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 125px;

    height: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 150px;

    height: 125px;
  }
}
.modal-close-btn-team {
  display: block;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 17px;
  height: 17px;
  @media screen and (min-width: 1280px) {
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
  }
  // background-color: var(--modal-background-color);
  background-color: transparent;
  // color: var(--primary-accent-color);
  // fill: var(--primary-accent-color);
  border: 1px solid var(--modal-background-color);
  cursor: pointer;
}

.modal-close-btn-icon {
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: 100%;
  fill: var(--primary-accent-color);
  // fill: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--secondary-accent-color);
  }
}
