.modal-form {
  padding: 195px 10px 65px 10px;

  position: relative;
  top: 15px;

  width: 270px;
  height: auto;
  margin: 0 auto;
  text-align: center;

  border-radius: 150px 0px;
  background-color: var(--modal-background-color);

  @media screen and (max-width: 315px) {
    padding: 200px 5px 105px 5px;
    top: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 517px;
    border-radius: 290px 0px;
    top: 20px;
    padding-top: 130px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    top: 20px;
    width: 554px;
    padding-top: 142px;
    padding-bottom: 40px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 300px 0px;
  }
}
.modal-close-btn {
  position: absolute;
  right: 25px;
  top: 25px;

  border: none;
  background-color: var(--modal-background-color);

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    right: 30px;
    top: 30px;
  }
}
.madal-close-icon {
  fill: #4c00fe;
  &:hover,
  &:focus {
    fill: #3500af;
  }
}
.img-wrapper {
  display: inline-block;
  width: 100px;
  height: 100px;

  position: absolute;
  top: 75px;
  transform: translateX(-50%);
  left: 50%;

  border-radius: 50%;
  img {
    border-radius: 50%;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 70px;
    height: 70px;

    top: 40px;
    transform: translateX(-50%);
    left: 50%;
  }

  @media screen and (min-width: 1280px) {
    width: 85px;
    height: 85px;
    top: 40px;
  }
}
.main-img-wrapper {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: inline-block;

    width: 210px;
    height: 376px;

    margin-right: 30px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;

    width: 220px;
    height: 420px;

    margin-right: 35px;
  }
}
.main-img-wrapper .main-img {
  overflow: visible;
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 225px;
  }
}
.small-img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;
}
.card-discription {
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 250px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    text-align: start;
  }
}
.modal__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  color: var(--title-text-color);

  margin-bottom: 5px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 16px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.2;
  }
}
.modal__description {
  font-size: 16px;
  line-height: 1.2;

  width: 240px;

  color: var(--secondary-text-color);

  margin-bottom: 3px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;
    width: 280px;
  }
}
.info-conteiner {
  overflow: hidden;
  width: 240px;
  height: 80px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 265px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
  }
}
.info-description {
  display: inline-block;
  animation: floatText 15s infinite linear;
  padding-top: 35%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 40%;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 20%;
  }
}
.info-description:hover {
  animation-play-state: paused;
}
@keyframes floatText {
  to {
    transform: translateY(-100%);
  }
}
.modal__item {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.prices-list {
  margin-bottom: 20px;
  li {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    li {
      margin-bottom: 20px;
    }
  }
}
.price {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;

  margin-bottom: 10px;
  &::before {
    display: inline-block;
    content: '';
    margin-right: 3px;
    width: 24px;
    height: 16px;
    background-image: url(./../images/ticket/ticket.svg);
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 10px;
  }
}
.card-discription-wrapper {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
}
.ticket-svg {
  stroke: currentColor;
  fill: currentColor;
}
