.gallery {
  width: 280px;
  margin-top: -35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.gallery__item {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  cursor: url('../images/decor/neon_cursor02-pink.cur'), auto;

  filter: brightness(1) saturate(0.9) contrast(1) blur(0.15px);
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
  &:hover {
    transform: scale(1.05) translateZ(0);
    .gallery__decoration {
      box-shadow: 0 0 15px 1px rgba(243, 104, 24, 0.3);
    }
  }
}

.gallery:hover > .gallery__item:hover {
  filter: brightness(1.1) saturate(1.1) contrast(1.1);
}

.gallery__img {
  width: 128px;
  height: 161px;
  object-fit: cover;

  border-radius: 50px 0px;
}

.gallery__block {
  text-align: center;
  margin-right: 10px;
  margin-top: 9px;
}

.gallery__decoration {
  position: absolute;
  top: 0;
  right: 0;
  width: 109px;
  height: 101px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  box-sizing: border-box;
  border-radius: 50px 0px;
}

.gallery__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;
  margin-top: 5px;

  color: var(--title-text-color);
}

.gallery__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;
  margin-top: 5px;

  color: var(--primary-text-color);
}

.gallery__place {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  margin-top: 5px;

  color: var(--primary-text-color);

  &::before {
    display: inline-block;
    content: '';
    margin-right: 3px;
    width: 6px;
    height: 9px;
    background-image: url(./../images/vector/vector-mob.svg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 13px;
    width: 610px;
  }

  .gallery__block {
    text-align: center;
    margin-right: 14px;
    margin-top: 13px;
  }

  .gallery__decoration {
    width: 153px;
    height: 143px;
  }

  .gallery__img {
    width: 180px;
    height: 227px;
  }

  .gallery__title {
    font-size: 16px;
    line-height: 1.25;
  }

  .gallery__date {
    font-size: 16px;
    line-height: 1.25;
  }

  .gallery__place {
    font-size: 14px;
    line-height: 1.21;

    &::before {
      width: 7px;
      height: 10px;
      background-image: url(./../images/vector/vector.svg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 56px;
    width: 946px;
  }
  .gallery__block {
    text-align: center;
    margin-right: 14px;
    margin-top: 13px;
  }
  .gallery__decoration {
    width: 153px;
    height: 143px;
  }

  .gallery__img {
    width: 180px;
    height: 227px;
  }

  .gallery__place {
    font-size: 14px;
    line-height: 1.21;

    &::before {
      width: 7px;
      height: 10px;
      background-image: url(./../images/vector/vector.svg);
    }
  }
}

.pagination {
  margin-top: 60px;
  background-color: transparent;
  box-sizing: border-box;
  text-shadow: 0 4px 30px, 0 0 2px, 0 0 2em rgb(255, 13, 191), 0 0 0.5em rgb(255, 13, 191),
    0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
  @media only screen and (min-width: 1280px) {
    margin-top: 80px;
  }
}

.pag-links {
  margin-left: 4px;
  margin-right: 4px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding: 6px 10px;
  color: #fff;
  &:hover {
    cursor: url('../images/decor/neon_cursor02-pink.cur'), auto;
    border-radius: 10px 0px;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 0px 0px, 0 0 2px, 0 0 1em rgb(255, 13, 191), 0 0 0.2em rgb(255, 13, 191),
      0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
  }
}

span {
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination .active-page {
  pointer-events: none;
  padding: 6px 10px;
  color: #fff;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
}
